@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700&display=swap');

@import "tailwindcss";
@import "tw-animate-css";

body {
  @apply font-sans;
  font-family: "Nunito Sans", sans-serif;
  /* width:1020px;
  margin: 0 auto;
  transform:scale(1);
  transform-origin:top center; */
}
